body {
  font-family: 'Raleway', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #000;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
header a {
  text-decoration: none;
  color: #fff;
}
header .logo {
  float: left;
  width: 30%;
}
header nav {
  float: right;
  width: 70%;
}
header .main_nav {
  text-align: right;
}
header .main_nav>li {
  display: inline-block;
  width: 100px;
  text-align: center;
  position: relative;
}

/*
menu pokazywane za pomocą CSS Hover
header li:hover>ul {
  display: block;
}
*/

header .main_nav ul {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 2;
}


header .sub_nav {
  display: none;
}


header .sub_nav li{
  background: #000;
}

header .sub_nav li:first-child {
  background-color: transparent;
}

header .sub_nav .triangle {
  border: 15px solid #000;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.slides {
  height: 500px;
  padding-top: 100px;
  position: relative;
  background: #fafafa;
  background: -webkit-linear-gradient(#fafafa, #f7f7f7, #cdcdd5);
  background: -o-linear-gradient(#fafafa, #f7f7f7, #cdcdd5); 
  background: -moz-linear-gradient(#fafaa, #f7f7f7, #cdcdd5); 
  background: linear-gradient(#fafafa, #f7f7f7, #cdcdd5);
}
.logo2 {
  width: 480px;
  height: 337px;
  float: left;
  position: relative;
  margin-left: 40px;
}
.img1 {
 background: url(../images/black_chair.png) no-repeat; 
}
.img2 {
  background: url(../images/orange.png) no-repeat; 
}
.img3 {
  background: url(../images/red.png) no-repeat;
}
.logo-right {
  width: 525px;
  height: 337px;
  float: left;
  position: relative;
  margin-right: 150px;
  padding-right: 50px;
}
.black {
  color: #000000;
  font-size: 30pt;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.center {
  text-align: center;
  line-height: 28px;
}
.more {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 50px;
  background-color: rgb(37,199,176);
  border-radius: 10px;
  text-decoration: none;
  margin-top: 20px;
  padding-top: 13px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}
span.aqua {
  color: rgb(37,199,176);
  font-weight: bold;
}
#arrow_left {
  color: rgb(37,199,176);
  width: 100px;
  position: absolute;
  top: 250px;
  left: 70px;
  z-index: 1;
}
#arrow_right {
  color: rgb(37,199,176);
  position: absolute;
  top: 150px;
  right: -30px;
  z-index: 1;
}
.left {
  background: url(../images/box1_img.jpg) no-repeat;
  background-position: center;
  width: 330px;
  height: 225px;
  float: left;
  margin: 20px 10px 5px 60px;
}
.middle {
  background: url(../images/box2_img.jpg) no-repeat;
  background-position: center;
  width: 330px;
  height: 225px;
  float: left;
  margin: 20px 20px 5px 10px;
}
.right {
  width: 340px;
  height: 250px;
  float: left;
  border: 1px solid #c2c2c2;
  margin: 20px 60px 5px 10px;
}

.right h3 {
  margin-left: 10px;
  width: 140px;
  color: #000000;
}

.rightmiddle {
margin-left: 10px;   
}
.box {
  border: 4px solid #c2c2c2;
  border-radius: 2px;
  width: 325px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  float: left;
  height: 500px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #f9f9f9;
}
.boxover {
  border: 4px solid rgb(37,199,176);
  border-radius: 2px;
  width: 325px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  float: left;
  height: 500px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(37,199,176);
}
.boxcontainer {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #f9f9f9;
}
.borderbottom_small {
  width: 140px;
  border-bottom: 7px solid rgb(37,199,176);
  margin-left: 25px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 3px; 
  font-weight: bold;
}
.stripe {
  background-color: rgba(255,255,255,0.5);
  margin-top: 140px;
  height: 70px;
}
 .borderbottom {
  width: 325px;
  border-bottom: 7px solid rgb(37,199,176);
  margin-left: 75px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 60px; 
}
.circle {
  line-height: 57px;
  text-align: center;
  border: 4px solid #c2c2c2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 46%;
  background-color: #fff;
  margin-left: -12px;
}

.dot {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c2c2c2;
  margin: 0 auto;
}

.bigCircle {
  border: 4px solid #c2c2c2;
  background-color: #ffffff;
  width:130px;
  height: 130px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

}
.cost {
  font-size: 30px;
   color: #c2c2c2;
  font-weight: bold;
  padding-top: 30px;
}
sup {
  font-size: 0.4em;
}
.pln {
  font-size: 16px;
   color: #c2c2c2;
  font-weight: bold;
  padding-top: 5px;
}
#prices {
  background-color: #f1f1f1;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 50px;
}
.greyback {
  height: 725px;
}

#contact {
  background-color: #ffffff;
  padding-top: 20px;
}
label {
  display: block;
}

.plan {
  color: rgb(37,199,176);
  font-weight: bold;
  padding-top: 30px;
}
.darkgrey {
  background-color: #e4e4e4;
  height: 40px;
  color: #9e9e9e;
  padding-top: 10px;
  font-weight: bold;
}
.lightgrey {
  background-color: #f1f1f1;
  height: 40px;
  color: #9e9e9e;
  padding-top: 10px;
  font-weight: bold;
}
.empty {
  height: 40px;
}
.join {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 35px;
  background-color: rgb(37,199,176);
  border-radius: 10px;
  text-decoration: none;
  padding-top: 10px;
  font-size: 12px;
  color: #ffffff;
}
footer {
  height: 100px;
}
footer p {
  float: left;
  color: grey;
  padding-top: 40px;
  margin-left: 75px;
}

.icons {
float: right;
padding-top: 20px;
padding-left: 100px; 
}
footer h3 {
  color: grey;
  font-weight: 500;
  padding-top: 10px;
  margin-left: 40px;
  float: right;
  width: 200px;
}
footer span {
  font-weight: bold;
}

input, textarea {
  border: 1px solid rgb(37,199,176);
  border-radius: 3px;
  width: 600px;
  height: 50px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 24px;
  color: gray;
}
textarea {
  height: 180px;
}
.formleft {
  float: left;
  width: 640px;
  height: 370px;
  margin-left: 75px;
}
.formright {
  float: left;
  width: 450px;
  height: 370px;
  padding-left: 20px;
  position: relative;
}
.checkimg {
  background: url(../images/red_chair.png) no-repeat;
  width: 264px;
  height: 210px;
  float: left;
  margin-right: 186px;
  position: absolute;
  top: -20px;
}
.check {
  font-size: 18px;
  position: absolute;
  top: 200px;
  left: 80px;
  color: gray;
}
input[type=checkbox] {
  color: rgb(37,199,176);
  border: 1px solid rgb(37,199,176);
  border-radius: 3px;
  position: absolute;
  top: 190px;
  left: -250px;
  background: #ffffff;
}
input[type=submit] {
  background-color: rgb(37,199,176);
  border-radius: 10px;
  padding: 5px;
  width: 350px;
  height: 70px;
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 260px;
}
/*Sekcja kalkulatora zamówień*/
.cont_calc {
  margin: 0 auto;
  width: 940px;
  background-color: #f9f9f9;
  position: relative;
}

.application {
  background-color: #f9f9f9;
  padding:30px 0;
}
.calc {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
  background-color:  #f9f9f9;
}
.align_left {
  background-color:  #f9f9f9;
}

.inline {
 float: left;
  width:300px;
  padding:14px;
  vertical-align: top;
}


.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:305px;
  height:195px;
  padding:10px;
  margin-top: 50px;
  
}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  float: left;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  float: left;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  float: right;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  float: left;
}

.panel_right span {
  float: left;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  float: left;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  float: left;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}